html {
    font-size: 62.5%; 
    -webkit-transition: 0.5s; 
    -o-transition: 0.5s; 
    transition: 0.5s; 
}

/**** ELEMENT ****/

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px;
    color: #b3b394;
    background-color: #003891;
    font-family: Florence;
    text-align: center;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
        -ms-flex-direction: column; 
            flex-direction: column;
    -webkit-box-align: center; 
        -ms-flex-align: center; 
            align-items: center; 
    -ms-flex-pack: distribute; 
        -webkit-box-pack: center; 
            justify-content: center; 
    height: 100vh; 
    background-color: #0a0a0a;
    overflow: hidden;
}

main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; 
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    pointer-events: none;
}

line {
    stroke: #da5b33; 
    stroke-width: 7px;
    stroke-dasharray: 7;
}

blockquote {
    margin: 0px;
}

blockquote p {
    margin: 0px; 
}

iframe {
    height: 15rem;
    width: 25rem;
    margin-top: 2rem;
}

footer p {
    padding: 4rem;
    font-size: 1.5rem; 
}

footer a {
    color: #ff0000;
    text-decoration: none; 
    z-index: 8;
}

footer a:visited {
    color: #da5b33;
}

h1 {
    font-size: 2rem;
}

h2 {
    margin: 0px; 
    font-family: Brush Script MT;
    font-size: 5rem;
}

h3 {
    font-size: 3rem; 
}

h4 {
    font-size: 2rem; 
}

h5 {
    font-size: 1.75rem; 
}

/**** CLASS ****/

/* Header */

.header-container-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
        -ms-flex-direction: column; 
            flex-direction: column; 
    -webkit-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center; 
    padding: 2.5rem; 
}

.header-description {
    font-size: 1.25rem; 
}

.header-container-image {
    position: relative; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    width: 45%; 
    max-width: 70rem; 
    padding: 2rem; 
    z-index: 1; 
}

.header-container-image::before {
    content: ""; 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-box-shadow:  0 0 15px 20px #0a0a0a inset;
            box-shadow:  0 0 15px 20px #0a0a0a inset; 
    z-index: 2; 
}

.header-image {
    position: relative;
    height: auto;
    width: 100%; 
    margin: auto;
}

.audio-check {
    position: absolute; 
    bottom: 5rem; 
    left: 0;
    padding: 2.5rem; 
    color: #000; 
    background-color: #ff0000;
    font-size: 1.5rem; 
    text-decoration: none;
    border-radius: 0px 10px 10px 0px;
    -webkit-transform: translateX(-500px);
        -ms-transform: translateX(-500px);
            transform: translateX(-500px);
    -webkit-transition: -webkit-transform 2.5s;
    transition: -webkit-transform 2.5s;
    -o-transition: transform 2.5s;
    transition: transform 2.5s;
    transition: transform 2.5s, -webkit-transform 2.5s; 
    z-index: 7;
}

.audio-check:hover {
    text-decoration: underline;
}

/* Main */

.main-container-description {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
        -ms-flex-direction: column; 
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
    -webkit-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center; 
    height: 40rem; 
    width: 100%; 
    color: #000000; 
    background-color: #aeafb0;
    z-index: 4; 
}

.main-container-description::before {
    content: ""; 
    position: absolute; 
    top: 25%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background-color: #aeafb0; 
    -webkit-transform: skewY(3deg); 
        -ms-transform: skewY(3deg); 
            transform: skewY(3deg);
    -webkit-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
            transform-origin: 50% 0;
    z-index: 3; 
}

.description-birth {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
        -ms-flex-direction: column; 
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 5; 
}

.image-birth {
    height: auto;
    width: 50%;
}

.image-description {
    position: relative;
    height: 15rem;
    width: auto;
    margin: 0px;
    border-radius: 10px; 
    z-index: 6; 
}

.main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding: 20rem 0 7.5rem 0; 
}

.container-performances {
    position: relative; 
    height: 120rem; 
    width: 85%; 
    color: #000000; 
    background-color: #aeafb0; 
    overflow: hidden; 
}

.container-video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
        -ms-flex-direction: column; 
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; 
    font-size: 1.25rem; 
}

.performance {
    position: absolute; 
    top: 10%;
    width: 100%; 
    -webkit-transition: -webkit-transform 1s; 
    transition: -webkit-transform 1s; 
    -o-transition: transform 1s; 
    transition: transform 1s; 
    transition: transform 1s, -webkit-transform 1s; 
}

.button-performance {
    margin: 1rem; 
    background-color: transparent;
    font-size: 4rem;
    font-weight: bold;
    border: none;
    -webkit-transition: background-color 0.5s, color 0.25s;
    -o-transition: background-color 0.5s, color 0.25s;
    transition: background-color 0.5s, color 0.25s;
}

.button-performance:hover {
    color: #b3b394; 
    background-color: #003891;
}

.button-left {
    position: absolute; 
    right: 50%;
    bottom: 0; 
}
    
.button-right {
    position: absolute; 
    bottom: 0; 
    left: 50%;
}

/* Main Images */

.container-image {
    margin: 0; 
}

.main-image {
    position: relative; 
    height: 30rem; 
    width: auto; 
    margin-top: 2.5rem; 
    border-radius: 10px;
}

.image-1 {
    -ms-grid-column: 1;
    grid-column: 1; 
    -ms-grid-row: 2; 
    grid-row: 2; 
}

.image-2 {
    -ms-grid-column: 4;
    grid-column: 4; 
    -ms-grid-row: 4; 
    grid-row: 4; 
    -ms-grid-column-align: start; 
        justify-self: start;
}

.image-3 {
    -ms-grid-column: 1;
    grid-column: 1; 
    -ms-grid-row: 6; 
    grid-row: 6; 
}

.image-4 {
    -ms-grid-column: 4;
    grid-column: 4; 
    -ms-grid-row: 9; 
    grid-row: 9; 
    -ms-grid-column-align: start; 
        justify-self: start;
}

.image-5 {
    -ms-grid-column: 1;
    grid-column: 1; 
    -ms-grid-row: 11; 
    grid-row: 11; 
}

/* Main Circles */

/* Source Code for amazing vinyl record design is from Ana Tudor */
/* Link: https://codepen.io/thebabydino/pen/HjJlL */

.circle {
    height: 17rem;
    width: 17rem;
    margin-top: 2.5rem;
    background-color: transparent; 
    -webkit-perspective: 1000px; 
            perspective: 1000px;
}

.circle-inner {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    -webkit-transition: -webkit-transform 0.8s;
    transition: -webkit-transform 0.8s;
    -o-transition: transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.circle:hover .circle-inner {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

.circle-front, .circle-back {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-align: center; 
        -ms-flex-align: center; 
            align-items: center; 
    -webkit-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center; 
    height: 100%;
    width: 100%;
    color: #d9d9ce; 
    background: -o-repeating-radial-gradient(#141212, #141212 24px, #21201f 26px); 
    background: repeating-radial-gradient(#141212, #141212 24px, #21201f 26px);
    background-size: 100% 100%; 
    text-align: center; 
    border-radius: 50%; 
    -webkit-backface-visibility: hidden; 
            backface-visibility: hidden;
}

.circle-front {
    font-size: 1.5rem; 
    -webkit-animation: rotation 4s infinite linear; 
            animation: rotation 4s infinite linear;
}

.circle-back {
    font-size: 1.2rem; 
    -webkit-transform: rotateY(180deg); 
            transform: rotateY(180deg);
}

.circle-year {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center; 
    height: 7rem;
    width: 7rem;
    background: #b5ac9a;
    -webkit-box-shadow: 0 0 0 0.5rem #da5b33,
        inset 0 0 0 5.3rem #da5b33;
            box-shadow: 0 0 0 0.5rem #da5b33,
        inset 0 0 0 5.3rem #da5b33;
    border: solid 1px #d9a388;
    border-radius: 50%;
}

.circle-year h3 {
    position: relative; 
}

.two-years {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
        -ms-flex-direction: column; 
            flex-direction: column; 
}

.two-years h3 {
    margin: 0rem; 
}

/* Individual Circles */

.circle-1 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column-align: end;
        justify-self: end;
}

.circle-2 {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 2;
    grid-row: 2;
}

.circle-3 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column-align: end;
        justify-self: end;
}

.circle-4 {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 4;
    grid-row: 4;
}

.circle-5 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 5;
    grid-row: 5;
    -ms-grid-column-align: end;
        justify-self: end;
}

.circle-6 {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 6;
    grid-row: 6;
}

.circle-7 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 7;
    grid-row: 7;
    -ms-grid-column-align: end;
        justify-self: end;
    height: 24rem;
    width: 24rem;
}

.circle-8 {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 8;
    grid-row: 8;
}

.circle-9 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 9;
    grid-row: 9;
    -ms-grid-column-align: end;
        justify-self: end;
}

.circle-10 {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 10;
    grid-row: 10;
    height: 21rem;
    width: 21rem;
}

.circle-11 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 11;
    grid-row: 11;
    -ms-grid-column-align: end;
        justify-self: end;
    height: 22rem;
    width: 22rem;
}

.circle-12 {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 12;
    grid-row: 12;
}

.circle-13 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 13;
    grid-row: 13;
    -ms-grid-column-align: end;
        justify-self: end;
}

.circle-14 {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 14;
    grid-row: 14;
}

/**** KEYFRAME ****/

@-webkit-keyframes rotation {
    from {
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    to {
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes rotation {
    from {
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    to {
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

/**** MEDIA QUERY ****/

@media (min-width: 600px) {
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 8rem;
    }

    .header-description {
        font-size: 1.5rem; 
    }

    .description-birth {
        font-size: 2rem;
    }

    .audio-check {
        font-size: 2.5rem; 
    }
}

@media (min-width: 800px) {
    header {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around; 
    }

    line {
        stroke-width: 10px;
        stroke-dasharray: 12;
    }

    iframe {
        height: 30rem;
        width: 50rem;
    }

    footer p {
        padding: 8rem;
        font-size: 2.1rem; 
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 10rem;
    }

    h4 {
        font-size: 3rem; 
    }

    h5 {
        font-size: 2.5rem; 
    }

    .main-container-description {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .header-description {
        font-size: 2rem; 
    }

    .image-description {
        top: 15%; 
        height: 30rem;
        margin: 3rem; 
        border-radius: 10px; 
    }

    .description-birth {
        height: 75%;
    }

    .audio-check {
        padding: 5rem;
    }

    .main-image {
        height: 50rem; 
        margin: 3rem; 
    }

    .initial-slide {
        -webkit-transition: opacity 1s, -webkit-transform 1s;
        transition: opacity 1s, -webkit-transform 1s;
        -o-transition: transform 1s, opacity 1s;
        transition: transform 1s, opacity 1s;
        transition: transform 1s, opacity 1s, -webkit-transform 1s; 
    }

    .container-performances {
        height: 175rem;
    }

    .container-video {
        font-size: 2rem; 
    }

    .button-performance {
        font-size: 8rem;
    }

    .circle {
        height: 27rem;
        width: 27rem;
        margin: 3rem;
    }

    .circle-year {
        height: 12rem;
        width: 12rem;
    }

    .circle-front {
        font-size: 3rem; 
    }

    .circle-back {
        font-size: 1.5rem; 
    }

    .circle-year h3 {
        bottom: 2rem;
    }

    .two-years h3 {
        margin-top: 3rem; 
    }

    .circle-4 {
        height: 28rem;
        width: 28rem;
    }

    .circle-7 {
        height: 31rem;
        width: 31rem;
    }

    .circle-11 {
        height: 28rem;
        width: 28rem;
    }
}

@media (min-width: 1350px) {
    h1 {
        font-size: 6rem;
    }

    h2 {
        font-size: 15rem;
    }

    .main-container-description::before {
        top: 20%;
    }

    .image-description {
        height: auto;
        margin-left: 100px; 
    }

    .description-birth {
        margin: 0px;
    }

    .initial-hidden {
        opacity: 0; 
        -webkit-transform: translateY(12rem); 
            -ms-transform: translateY(12rem); 
                transform: translateY(12rem); 
    }

    .main-container {
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(14, 1fr); 
    }

    .main-image {
        position: relative; 
        height: 35rem; 
        margin: 0px; 
    }

    .image-1 {
        justify-self: flex-end; 
    }

    .image-3 {
        justify-self: flex-end; 
    }

    .image-5 {
        justify-self: flex-end; 
    }

    .container-performances {
        height: 115rem;
    }

    .container-video {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly; 
    }

    .circle {
        margin: 0px;
    }
}

@media (min-width: 1900px) {
    .main-image {
        height: 45rem;
    }

    .button-left {
        right: 92%; 
        bottom: 40%; 
    }

    .button-right {
        bottom: 40%; 
        left: 92%; 
    }
}

@media (min-width: 2200px) {
    .container-performances {
        width: 60%; 
    }

    .button-left {
        right: 90%; 
        bottom: 40%; 
    }

    .button-right {
        bottom: 40%; 
        left: 90%; 
    }
}